        * {
            box-sizing: border-box;
        }
        
        body,
        html {
            padding: 0;
            margin: 0;
            font-size: 1em;
        }
        
        body {
            background: rgba(173, 128, 53, 0.1);
            font-family: 'Oswald', sans-serif;
        }
        
        h1,
        h2,
        h3 {
            font-family: 'PT Serif', serif;
            font-weight: bold;
        }
        
        a {
            text-decoration: none;
            color: #fff;
            font-weight: bold;
        }
        
        a:hover {
            text-decoration: none;
            color: #3268FA
        }
        
        a.active {
            text-decoration: underline;
            color: black;
        }
        
        .separator {
            height: 1px;
            width: 50vw;
            border: none;
            background-color: #FAAE34;
        }
        
        .container {
            background-color: #fff;
            box-shadow: 5px, 5px, 25px, black;
            padding: 20px;
        }
        
        h2 {
            text-align: center;
            font-weight: bold;
            margin-bottom: 2%;
        }
        /* HEADER */
        
        .header {
            margin-bottom: 5%;
            position: fixed;
            top: 0;
            height: 80px;
            background-color: #3DB1E0;
            line-height: 80px;
            z-index: 2;
        }
        
        .header .container {
            padding: 0;
        }
        
        .logo {
            float: left;
            font-size: 1.5em;
            letter-spacing: 1px;
        }
        
        .menu {
            float: right;
        }
        
        .menu a {
            margin-right: 20px;
            ;
        }
        /* BANNER */
        
        .banner {
            margin-top: 9%;
        }
        
        .banner h1 {
            text-align: center;
            margin-bottom: 2%;
        }
        
        .banner .separator {
            margin-top: 3%;
            margin-bottom: 4%;
        }
        
        .moto {
            width: 100%;
            max-width: 100%;
            height: auto;
        }
        
        .first-pic img {
            width: 100%;
            max-width: 100%;
        }
        
        .main {
            margin-top: 5%;
        }
        /* END BANNER */
        /* SECTION ARTICLES */
        
        .article {
            margin-top: 5%;
        }
        
        .article p {
            margin: 0 auto;
        }
        /* ARTICLE STORY BIKE POSITION DE L'IMAGE PAR RAPPORT AU TEXTE*/
        
        .bg-article {
            width: 100%;
            max-width: 100%;
            display: flex;
            justify-content: center;
        }
        
        .bg-article img {
            box-shadow: 3px 3px 3px black;
            padding: 0;
        }
        
        .storybike {}
        /* ARTICLE STORY BIKE STYLE DU TEXTE */
        
        .storybike p {
            padding-top: 5%;
            text-transform: capitalize
        }
        
        .citation {
            margin-top: 10%;
            background-color: rgba(173, 128, 53, 0);
            padding: 0;
        }
        
        .citation img {
            padding: 0;
            width: 100%;
            max-width: 100%;
            box-shadow: 5px 5px 5px black;
        }
        /* END SECTION ARTICLES */
        /* ICONS ON THE RIGHT OF TITLES */
        
        .icon2 img,
        .icon1 img {
            width: 5%;
            height: auto;
            margin-left: 2%;
        }
        
        .icon1 {
            display: flex;
            justify-content: center;
        }
        
        .icon2 h2 {
            text-align: center;
            margin: 0 auto;
        }
        /* END ICONS ON THE RIGHT OF TITLES */
        /* ANIMATION MOTO ET H1 */
        
        @keyframes icon-bike {
            0% {
                padding-left: 75%
            }
            100% {
                padding-left: 2%;
            }
        }
        
        .icon1 img {
            animation-name: icon-bike;
            animation-duration: 3s;
            animation-timing-function: linear;
            animation-fill-mode: backwards;
        }
        /* END ANIMATION MOTO ET H1 */
        /* CAROUSEL */
        
        .carousel {
            margin: auto;
        }
        
        .p-carousel {
            text-align: center;
        }
        /* FOOTER */
        
        .footer {
            margin-top: 10%;
        }
        /* IMAGES FLIP */
        
        .image-flip {
            margin: auto;
        }
        
        .flip {
            display: flex;
            justify-content: space-around;
        }
        
        .flip-box-front img {
            width: 100%;
            max-width: 100%;
            height: 100%;
        }
        
        .flip-box {
            background-color: transparent;
            width: 300px;
            height: 200px;
            border: 1px solid #f1f1f1;
            perspective: 1000px;
            /* Remove this if you don't want the 3D effect */
        }
        /* This container is needed to position the front and back side */
        
        .flip-box-inner {
            position: relative;
            width: 100%;
            height: 100%;
            box-shadow: 5px 5px 5px #3DB1E0;
            text-align: center;
            transition: transform 1.5s;
            transform-style: preserve-3d;
        }
        /* Do an horizontal flip when you move the mouse over the flip box container */
        
        .flip-box:hover .flip-box-inner {
            transform: rotateY(180deg);
        }
        /* Position the front and back side */
        
        .flip-box-front,
        .flip-box-back {
            position: absolute;
            width: 100%;
            height: 100%;
            -webkit-backface-visibility: hidden;
            /* Safari */
            backface-visibility: hidden;
        }
        /* Style the front side (fallback if image is missing) */
        
        .flip-box-front {
            background-color: #bbb;
            color: black;
        }
        /* Style the back side */
        
        .flip-box-back {
            background-color: #3DB1E0;
            color: #FAAE34;
            text-shadow: 1px 1px 10px black;
            transform: rotateY(180deg);
        }
        
        .flip-box-back h2 {
            margin-top: 15%;
            margin-bottom: 5%;
        }
        
        @media only screen and (max-width: 768px) {
            .banner {
                margin-top: 20%;
            }
        }
        
        @media only screen and (max-width: 425px) {
            .banner {
                margin-top: 30%;
            }
            .icon {
                display: none;
            }
        }
        
        @media only screen and (max-width: 393px) {
            .logo {
                display: none;
            }
            .menu {
                text-align: center;
            }
        }